

.c-hours-report-table{
    text-align: center;
    width:100%;
    font-size: 0.75em;
    font-family: Assistant-Regular;    
    border-collapse: separate;
    border-spacing: 0 1.0em;
}

.c-hours-report-table td{
    padding-top: 9px;
    padding-bottom: 9px;
}


.c-hours-report-table th{
    padding-top: 25px;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, rgba(219, 216, 216, 0.973) 2%, white 17%, white 80%);
}

.c-no-report-msg{
    text-align: center;
    margin-top: 50px;
}